fastapi
uvicorn
numpy<2
google-generativeai
chromadb==0.5.23
langchain==0.3.27
langchain-community==0.3.27
langchain-text-splitters==0.3.9

sentence-transformers==2.7.0

pypdf
python-dotenv
python-multipart

rank-bm25